body {
    /* background-color: #36393F; */
    background-color: #000;
    color: #fff;
    font-family: 'Fira Code', monospace;
}

a:link {
    color: #83C8F5;
}

a:visited {
    color: #F2588A;
}

a:hover {
    color: #93DEFC;
}


