@font-face {
  font-family: 'Decovar';
  src: url(decovar/DecovarAlpha-VF.ttf) format('truetype');
}

@-webkit-keyframes head {
  0% {
    font-variation-settings: 'SKLD'1000;
  }

  75% {
    font-variation-settings: 'SKLD'0;
  }

  76% {
    font-variation-settings: 'TRMD'0;
  }

  100% {
    font-variation-settings: 'TRMD'1000;
  }
}

@-webkit-keyframes link {
  from {
    font-variation-settings: 'TRMG'0;
  }

  to {
    font-variation-settings: 'TRMG'1000;
  }
}

@-webkit-keyframes linkback {
  from {
    font-variation-settings: 'TRMG'1000;
  }

  to {
    font-variation-settings: 'TRMG'0;
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Decovar';
  font-size: 3vw;
  margin-left: 1vw;
  margin: 0vw;
}

h1 {
  font-size: 8vw;
  font-family: 'Decovar';
  -webkit-animation-name: head;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  margin: 0vw;
}

a {
  padding-right: 0.5vw;
}

a:link {
  color: #83C8F5;
  -webkit-animation-name: linkback;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}

a:visited {
  color: #83C8F5;
  -webkit-animation-name: linkback;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}

a:hover {
  color: #83C8F5;
  -webkit-animation-name: link;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
}
