@keyframes head {
  from {
    font-variation-settings: "wght" 65, "wdth" 250, "opsz" 0;
  }
  to {
    font-variation-settings: "wght" 65, "wdth" 400, "opsz" 100;
  }
}

@media screen and (max-width: 540px) {
  .name {
    font-size: 16vw;
  }
}
@media screen and (min-width: 541px) {
  .name {
    font-size: 8vw;
  }
}

.name {
  font-family: 'Handjet';
  animation-name: head;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  margin: 0vw;
  padding-top: 0vw;
}
