/*https://fontawesome.com/how-to-use/on-the-web/other-topics/server-side-rendering*/
@import url('https://use.fontawesome.com/releases/v5.13.1/css/svg-with-js.css');

.header {
  font-family: "Handjet";
  font-variation-settings: "wght" 65, "wdth" 450, "opsz" 200;
}

.icon {
  padding-right: 1vw;
}

.smallIcon {
  padding-right: 1vw;
  vertical-align: inherit;
  /* float: right; */
  /* text-align: right; */
  padding-left: 50%;
  padding-bottom: 0.25em;
}

.columns {
  font-family: "Josefin Sans";
  display: grid;
  padding-top: 1vw;
  margin: 0;
}

.twoColumns {
  grid-template-columns: 75% 25%;
}

.entry {
  margin: 0;
}

.bulletEntry {
  display: grid;
  grid-template-columns: 5% 95%;
}

.bullets {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  margin: 0;
}


@media screen and (max-width: 800px) {
  .skillColumns {
    grid-template-columns: repeat(2, 1fr);
  }
  .bullets {
    font-size: 20px;
  }
  .columns {
    font-size: 20px;
  }
  .header {
    font-size: 20px;
  }
  .smallIcon {
    font-size: 10px;
  }
  .bulletText {
    padding-left: 5%;
  }
}
@media screen and (min-width: 801px) {
  .skillColumns {
    grid-template-columns: repeat(4, 1fr);
  }
  .bullets {
    font-size: 30px;
  }
  .columns {
    font-size: 30px;
  }
  .header {
    font-size: 30px;
  }
  .smallIcon {
    font-size: 15px;
  }
  .bulletText {
    padding-left: 1%;
  }
}

.skill {
  margin: 0;
  text-align: center;
}

.line {
  height:0vh;
  color:white;
  background-color:white;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
