/*https://fontawesome.com/how-to-use/on-the-web/other-topics/server-side-rendering*/
@import url('https://use.fontawesome.com/releases/v5.13.1/css/svg-with-js.css');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.header {
  font-family: "Decovar";
  font-size: 30px;
  font-variation-settings: "TRMD" 1000;
}

.icon {
  padding-right: 1vw;
}

.smallIcon {
  font-size: 15px;
  padding-right: 1vw;
  padding-bottom: 5px;
}

.columns {
  font-family: "Josefin Sans";
  font-size: 30px;
  display: grid;
  padding-top: 1vw;
  margin: 0;
}

.twoColumns {
  grid-template-columns: 75% 25%;
}

.entry {
  margin: 0;
}

.bullets {
  font-family: "Josefin Sans";
  font-size: 30px;
  padding-bottom: 1vw;
  padding-left: 1vw;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .skillColumns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 801px) {
  .skillColumns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.skill {
  margin: 0;
  text-align: center;
}

.line {
  height:0vh;
  color:white;
  background-color:white;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
