@keyframes link {
  from {
    font-variation-settings: 'TRMG'0;
  }

  to {
    font-variation-settings: 'TRMG'1000;
  }
}

@keyframes linkback {
  from {
    font-variation-settings: 'TRMG'1000;
  }

  to {
    font-variation-settings: 'TRMG'0;
  }
}

@media screen and (max-width: 540px) {
  .link {
    font-size: 6vw;
  }
}
@media screen and (min-width: 541px) {
  .link {
    font-size: 3vw;
  }
}

.link {
  padding-right: 1vw;
  padding-left: 1vw;
  color: #83C8F5;
  font-family: 'Decovar';
  margin: 0vw;
  padding-top: 0vw;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.linkBack {
  animation-name: linkback;
}

.link:hover {
  animation-name: link;
}
