@keyframes link {
  from {
    font-variation-settings: "wght" 50, "wdth" 450, "opsz" 200;
  }
  to {
    font-variation-settings: "wght" 100, "wdth" 450, "opsz" 200;
  }
}

@keyframes linkback {
  from {
    font-variation-settings: "wght" 100, "wdth" 450, "opsz" 200;
  }
  to {
    font-variation-settings: "wght" 50, "wdth" 450, "opsz" 200;
  }
}

.link {
  color: #83C8F5;
  font-family: 'Handjet';
  font-variation-settings: "wght" 50, "wdth" 450, "opsz" 200;
  margin: 0vw;
  padding-top: 0vw;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.linkBack {
  animation-name: linkback;
}

.link:hover {
  animation-name: link;
}
